<template>
  <v-app>
    <AppBar/>r>
    <v-main>
      <CharactersView/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import CharactersView from '@/views/CharactersView.vue'
import AppBar from '@/components/molecules/bars/AppBar.vue';

export default defineComponent({
  name: 'App',

  components: {
    AppBar,
    CharactersView,
  },
})
</script>
