<template>
    <v-container>
        <v-row>
            <v-col cols="12" class="text-center" v-if="loading">
              <v-progress-circular
                :size="50"
                color="red"
                indeterminate
              />
            </v-col>
            <v-col cols="12">
              <SearchBar placeholder="Search a character" v-model="searchValue" :loading="loading"/>
            </v-col>
            <v-col
                v-for="character in characters"
                :key="character.id"
                cols="6"
                sm="4"
                md="3"
                lg="2"
            >
                <MarvelCharacter :character="character"/>
            </v-col>
            <v-col cols="12" v-if="paginationConfig">
                <Pagination :paginationConfig="paginationConfig" v-bind="$attrs" :loading="loading"/>
            </v-col>
            <v-col cols="12">
                <MarvelAttribution :attributionText="attributionText"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Character } from '@characters/services/types';
import MarvelCharacter from '@characters/components/molecules/MarvelCharacter.vue';
import MarvelAttribution from '@characters/components/molecules/MarvelAttribution.vue';
import Pagination from '@/components/molecules/paginations/Pagination.vue';
import { PaginationConfig } from '@/components/molecules/paginations/types';
import SearchBar from '@/components/molecules/bars/SearchBar.vue';
import { useModelWrapperArg } from '@/hooks/modelWrapper';

export default defineComponent({
  name: 'MarvelCharacterList',

  components: {
    MarvelCharacter,
    MarvelAttribution,
    Pagination,
    SearchBar,
  },

  props: {
    attributionText: { type: String },
    characters: { type: Object as PropType<Character[]>, required: true },
    paginationConfig: { type: Object as PropType<PaginationConfig> },
    loading: { type: Boolean, default: false },
    search: { type: String },
  },

  emit: ['update:search'],

  setup: (props, { emit }) => {
      const searchValue = useModelWrapperArg<string>(props, emit, 'search');
    return {
        searchValue
    };
  },
})
</script>