<template>
    <v-pagination
      v-model="page"
      :length="pageLentgh"
      total-visible="7"
      :disabled="loading"
    ></v-pagination>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRef, watch } from 'vue'
import { PaginationConfig } from './types';

export default defineComponent({
  name: 'Pagination',

  props: {
    paginationConfig: { type: Object as PropType<PaginationConfig>, required: true },
    loading: { type: Boolean, default: false },
  },

  emits: ['pageChange'],

  setup: (props, { emit }) => {
    const config = toRef(props, 'paginationConfig');
    const page = ref(1);
    const pageLentgh = computed<number>(() => Math.round(config.value.total / config.value.limit));
    const reset = ref(false);

    watch(pageLentgh, () => {
      if (page.value != 1)
        reset.value =  true;
      page.value = Math.round(1 + config.value.offset / config.value.limit);
    });

    watch(page, () => {
      if (!reset.value)
        emit('pageChange', {offset: (page.value - 1) * props.paginationConfig.limit, limit: props.paginationConfig.limit});
      else 
        reset.value = false;
    });
    return {
      page,
      pageLentgh,
    };
  },
})
</script>