<template>
    <div class="input__effect">
        <input type="text" class="effect" :placeholder="placeholder" v-model="textValue"/> 
        <span class="focus__border"></span>
    </div>
</template>

<script lang="ts">
import { useModelWrapper } from '@/hooks/modelWrapper';
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TextField',

  props: {
    placeholder: { type: String },
    modelValue: { type: String },
  },

  emit: ['update:modelValue'],

  setup: (props, { emit }) => {
    const textValue = useModelWrapper<string>(props, emit);
    return {
        textValue,
    };
  },
})
</script>

<style scoped>
::placeholder {
    opacity:.4;
}

input[type="text"]{
    color: #555;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline:none;
}
.input__effect {
    float: left;
    width: 100%;
    margin: 0.5rem 0rem 0.5rem 0;
    position: relative;
} 

.effect {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect ~ .focus__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.4s;
}

.effect:focus ~ .focus__border ,
.has-content.effect ~ .focus__border {
    width: 100%;
    transition: 0.4s;
}
</style>