<template>
  <v-footer padless>
    <v-col
      class="text-center"
      cols="12"
    >
      <v-btn text elevation="0" @click="goToMarvel">
        {{ attributionText }}
      </v-btn>
    </v-col>
  </v-footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MarvelAttribution',

  props: {
    attributionText: { type: String },
  },

  setup: () => {
    const goToMarvel = () => {
      window.open('https://www.marvel.com', '_blank');
    }
    return {
      goToMarvel
    };
  },
})
</script>

<style scoped>
  .marvel-link > a:link {
      color: red;
  }
</style>