<template>
    <v-card
        class="v-theme--dark"
        shaped
        height="100%"
    >
        <v-img :src="character.thumbnail.standart" :alt="character.name"/>
        <v-card-header>
            <v-card-header-text>
                <v-card-title>{{ character.name }}</v-card-title>
            </v-card-header-text>
        </v-card-header>
    </v-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Character } from '@characters/services/types';

export default defineComponent({
  name: 'MarvelCharacter',

  props: {
    character: { type: Object as PropType<Character>, required: true },
  },
})
</script>
<style scoped>
    .v-card-header {
        border-top: .5rem solid red;
    }
</style>