<template>
    <v-app-bar density="compact" dark color="black" :image="require('@/assets/characters.jpeg')" prominent>
      <v-img
        :src="require('@/assets/Marvel_Logo.png')"
        contain
        height="40"
      />
    </v-app-bar>
</template>