<template>
    <div class="d-flex">
        <TextField :placeholder="placeholder" v-model="text"  @keyup.enter="onSearch"/>
        <v-btn text elevation="0" icon variant="fab" color="grey" @click="onSearch" :disabled="loading">
            <v-icon>mdi-magnify</v-icon>
        </v-btn>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import TextField from '@/components/atoms/inputs/TextField.vue';

export default defineComponent({
  name: 'SearchBar',

  components: {
    TextField,
  },

  props: {
    placeholder: { type: String },
    modelValue: { type: String },
    loading: { type: Boolean, default: false },
  },

  emit: ['update:modelValue'],

  setup: (props, { emit }) => {
    const text = ref(props.modelValue);

    const onSearch = () => {
      emit('update:modelValue', text.value)
    }
    return {
        text,
        onSearch,
    };
  },
})
</script>