<template>
  <v-alert
      text
      prominent
      type="error"
      icon="mdi-cloud-alert"
      class="mx-4"
      v-if="findCharactersError"
    >
      {{ findCharactersError }}
    </v-alert>
    <MarvelCharacterList
      v-else 
      :attributionText="attributionText"
      :characters="characters"
      :paginationConfig="paginationConfig" 
      @pageChange="onPageChanged" 
      :loading="findCharactersLoading"
      v-model:search="search"
    />
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue'
import {findCharacters} from '@characters/services';
import { Character, FindCharactersResponse, FindResultDetail } from '@characters/services/types';
import MarvelCharacterList from '@characters/components/organisms/MarvelCharacterList.vue';
import { PaginationConfig, PaginationEvent } from '@/components/molecules/paginations/types';
import { useLoadingWrapper } from '@/hooks/loadingWrapper';

export default defineComponent({
  name: 'CharactersView',

  components: {
    MarvelCharacterList,
  },

  setup: () => {
    // Data
    const characters = ref<Character[]>([]);
    const attributionText = ref<string>();
    const resultDetail = ref<FindResultDetail>();

    // Load data method with loader and error management
    const [findCharactersLoading, findCharactersError, findCharactersLoadingWrapp]= 
      useLoadingWrapper<FindCharactersResponse>(async () => {
      const result = await findCharacters({...paginationEvent.value, nameStartsWith: search.value});
      characters.value = result.characters
      attributionText.value = result.attributionText;
      resultDetail.value = result.resultDetail;
      return result;
    });

    // Pagination
    const paginationConfig = computed<PaginationConfig>(() => ({
      offset: 0,
      limit: 20,
      total: resultDetail.value?.total || 0,
    }));
    const paginationEvent = ref<PaginationEvent>({
      offset: 0, 
      limit: 20,
    });

    const onPageChanged = ({offset, limit} : PaginationEvent) => {
      paginationEvent.value = {offset, limit};
      findCharactersLoadingWrapp();
    };

    // Search
    const search = ref<string>();

    // Load data on search change
    watch(search, () => {
      paginationEvent.value = { offset: 0, limit: 20};
      findCharactersLoadingWrapp();
    });

    // Load data on component mount
    findCharactersLoadingWrapp();

    // Scroll top
    watch(characters, () => {
        window.scrollTo(0,0);
      },
    );
    return {
        characters,
        attributionText,
        resultDetail,
        paginationConfig,
        findCharactersLoading,
        findCharactersError,
        search,
        onPageChanged
    };
  },
})
</script>